##########################################################################
# Copyright (c) 2010 EnterpriseDB Corporation
# Copyright (c) 2011 Stado Global Development Group
#
# stado_agent.config 
#
# This configuration file is used only when agents are running on
# the non-coordinator nodes.
##########################################################################

###
### The coordinator host and port
###

xdb.coordinator.host=192.168.123.100
xdb.coordinator.port=6454


###
### Logging settings
###

log4j.rootLogger=WARN, console

log4j.logger.Server=ALL, console

# A1 is set to be a ConsoleAppender.
log4j.appender.console=org.apache.log4j.RollingFileAppender

# A1 uses PatternLayout.
log4j.appender.console.layout=org.apache.log4j.PatternLayout
log4j.appender.console.layout.ConversionPattern=%r [%t] %-5p %c %x - %m%n
log4j.appender.console.File=../log/agent.log
